<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Atomic Suplex - Rock and Roll Action Now!!</title>
		<meta name="description" content="A tool to help make Scrum Poker desicions." />
		<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Atomic Suplex" />
		<link rel="manifest" href="site.webmanifest" />

		<meta property="og:site_name" content="Complexity / Volume / Risk" />
		<meta property="og:title" content="Complexity / Volume / Risk" />
		<meta property="og:description" content="A tool to help make Scrum Poker desicions." />
		<meta property="og:image" content="" />

		{# preload & preconnect #} {#
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		#}

		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css rel="stylesheet" />

		<link href="css/styles.css" rel="stylesheet" />

		{# header scripts #}
		<script src="js/scripts.js" async defer></script>
	</head>

	<body class="home">
		{% block content %} 
		{% endblock %}
	</body>
</html>
